
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Pacifico&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:berkshire;
}
marquee{
    background-color: blueviolet;
    color: white;
}
.jpr-logo img{
    height:60px;
    width:30px;
    padding-bottom: 10px;
}
.navlist :hover{
    text-decoration: underline;
    letter-spacing:4px;
    transition: 0.3s;
}
.navlist{
    font-weight: bolder;
    color:black !important;
    font-size:20px;
}
.navigation ul li{
    text-align: center;
}
.navbar-brand{
    color:black;
    font-weight:bolder;
    font-size:20px;
    text-shadow: 1px 1px 1px black;
}
.page1{
  background-color:whitesmoke;
    min-height:500px;
    width:100%;
}
.img1{
    height:220px;
    width:220px;
background-color:aquamarine;
border-radius:50%;
box-shadow:6px 3px 9px black;
}
.img2{
    height:220px;
    width:220px;
background-color:rgb(7, 3, 58);
border-top-left-radius:30%;
border-bottom-right-radius:30%;
box-shadow:6px 3px 9px black;

}
.img3{
    height:220px;
    width:220px;
background-color:rgb(83, 10, 151);
border-top-left-radius:30%;
border-bottom-right-radius:30%;
margin-top:15px;
box-shadow:6px 3px 9px black;
}
.img4{
    height:220px;
    width:220px;
background-color:rgb(16, 206, 149);
border-radius:50%;
margin-top: 15px;
box-shadow:6px 3px 9px black;
}
.image img{
    column-gap:10px;
    row-gap: 10px !important;
    margin-top: 20px !important;
}
.text{
    margin-top:20px;
}
.text h1{
    font-weight: 400px;
    font-size:70px;
    color:black;
    font-family:berkshire;
} 
.text p{
 font-size:20px;
}
.text{
    text-align:justify;
}
.dep{
    text-align: center;
    color:green;
}
.sec-1{
    margin-top:75px;
}
.box{
 height:200px;
 width:260px;
 background-color:whitesmoke;
 box-shadow:3px 3px 6px black;
 text-align: center;
 margin-top:65px;
 border-radius:8%;
 color:orange;
 padding-right:0px;
 margin-left: 0px !important;
}
.box img{
    height:110px;
    width:110px;
    margin-top:20px;
}
.sec-2{
    margin-top:20px;
}
.box:hover{
   background-color:#7888DE;
   transition:0.3s;
   transform:scale(1.10);
   color: white;
   font-weight: 400px;
}
.rect-box{
    min-height:220px;
   max-width:320px;
    background-color:whitesmoke;
    box-shadow:4px 4px 8px black;
    margin-top: 70px;
    text-align: center;
    color:black;
    border-radius:10%;
   }
.rect-box img{
    height:180px;
    max-width:320px;
    border-radius:10% 10% 0px 0px;
    padding:10px;
}
.sec-4{
    margin-top: 20px;
}
.college{
    text-align: center;
    margin-top:100px !important;
    color:green;
}
.rect-box:hover{
    transition:0.3s;
    transform:scale(1.10);
}

.div-1{
    margin-top:115px;
    text-align: center;
    font-family:anton;
}
.div-1 h2{
     text-decoration: underline 2px double black;
     color:green;
}
.sec-5{
   margin-top:50px; 
}
.pavii{
    text-align: center;
}
.sec-5 img{
   height:200px;
   width:200px;
}
.micro img{
    height:120px;
    width:120px;
    margin-top: 40px;
}
.img-1 img{
    justify-content: center !important;
}
.sec-6{
 background-color: whitesmoke;
 margin-top:30px;
}
.email input{
    height:40px;
    padding-right:10px;
}
.aboutus{
    text-align:left;
}
.aboutus h3{
    text-align: center;
}
.com-btn{
    text-align: center;
}
.aboutus h3:hover{
text-decoration: underline;
}
.quicklink h3:hover{
    text-decoration: underline;
}
.quicklink-2 h3:hover{
    text-decoration: underline;
}
.suscribe h3:hover{
    text-decoration: underline;
}
.fbtn{
    padding-right:10px;
}